# Auto detect text files and perform LF normalization
* text=auto
models/rf_model.pkl filter=lfs diff=lfs merge=lfs -text
models/tfidf_readme.pkl filter=lfs diff=lfs merge=lfs -text
models/tfidf_topics.pkl filter=lfs diff=lfs merge=lfs -text
models/scaler.pkl filter=lfs diff=lfs merge=lfs -text
